
/* NAVBAR */
#main-nav { 
  background: var(--main-color);
  color: var(--main-text-color);
  border-bottom: 1px solid var(--light-color);
}

.nav-container { 
  display: flex;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0.9rem;
  align-items: center;
}

/* SEARCH_AREA */
.nav-search { 
  flex-basis: 70%;
  display: flex;
  align-items: center;
}

.nav-search .logo { 
  font-size: 1.5rem;
}

.search-tab { 
  width: 100%;
  margin-left: 2rem;
  background-color: var(--dark-color);
  border-radius: 10px;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.nav-search .search-tab-box { 
  width: calc(100% - 30px);
  background-color: var(--dark-color);
  border: none;
  border-radius: 10px;
  color: var(--light-color);
}

.nav-search .search-tab-box:focus { 
  outline: none;
}

.nav-search .search-tab i { 
  margin-left: 0.9rem;
  margin-right: 0.9rem;
  font-size: 0.9rem;
  color: var(--light-color);
}

/* LOGIN - SIGNUP */
.nav-user-buttons { 
  flex-basis: 25%;
  display: flex;
  justify-self: end;
  list-style-type: none;
  margin-left: 10rem;
}

.nav-user-buttons .btn-blue { 
  background-color: var(--blue-color);
  color: var(--main-text-color);
}

/* MEATBALLS MENU  */
.nav-settings { 
  flex-basis: 5%;
  padding: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-settings span { 
  height: 6px;
  width: 6px;
  border: 1.5px solid var(--blue-color);
  background-color: var(--main-color);
  border-radius: 50%;
  margin:0.1rem;
}

/* MAIN-AREA */
#main-wall { 
  max-width: var(--container-width);
  margin: 0 auto;
  display: flex;
  overflow: auto;
}

/* WALL */
.wall-profile-container { 
  flex-basis: 60%;
  border: 1px solid var(--light-color);
  border-top: none;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.wall-cover-photo { 
  width: 100%;
}

.bio-photo { 
  position: relative;
  margin-bottom: 5rem;
}

.bio-photo > img {
  position: absolute;
  top: -67px;
  width: 134px; 
  height: 134px; 
  border-radius: 50%;
  border: 3px solid var(--main-color);
}

.bio-photo > figcaption {
  position: absolute; 
  top: 0; 
  right: 0;
  padding: 1rem;
}

.profile-desc { 
  margin: 0 1rem 2rem;
  color: var(--light-color);
}

.wall-activity { 
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid var(--light-color);
}

.wall-activity li { 
  flex-basis: 25%;
  text-align: center;
  padding: 0.6rem 0.4rem;
  font-weight: bold;
}

/* TWEETS */
.wall-tweets-container { 
  background-color: var(--dark-color);
}

.tweet { 
  padding: 0.5rem 1rem;
  border: 1px solid var(--light-color);
  background-color: var(--pinned-color);
  border-top: none;
  border-bottom: none;
}

.tweet-header { 
  margin: 0.5rem;
}

.tweet-header i {
  font-size: 0.8rem;
  text-align: end;
}

.tweet-header i,
.tweet-main-area figure,
.tweet-footer .dummy { 
  flex-basis: 10%;
} 

.tweet-main-area > figure > img { 
  border-radius: 50%;
}

.tweet-header h6,
.tweet-main-area .tweet-text-box,
.tweet-footer .lead { 
  flex-basis: 90%;
} 

.tweet-main-area .tweet-text-box { 
  padding-left: 0.5rem;
}

.tweet-main-area .tweet-text-box li { 
  margin: 0.5rem 0;
}

.tweet-main-area .tweet-text-box li:nth-child(2) { 
  color: var(--main-text-color);
}

.tweet-main-area .tweet-text-box .tweet-social { 
  display: flex;
  justify-content: space-around;
}

.tweet-footer { 
  margin: 0.5rem 0;
}

.wall-tweets-container .tweet-retweet { 
  margin-top: 0.7rem;
  background-color: var(--main-color);
}

li.tweet-retweeted .tweet { 
  background-color: var(--main-color);
  border: 1px solid var(--light-color);
  border-radius: 10px;
}

li.tweet-retweeted .tweet .tweet-main-area { 
  color: var(--main-text-color);
}


/* SIDEBAR */
#sidebar { 
  position: sticky;
  top: 0;
  flex-basis: 40%;
  margin: 0.5rem 1rem;
}

.sidebar-signup { padding: 0.5rem }
.sidebar-signup > h2 { margin: 0.6rem 0 0.6rem 0.4rem}
.sidebar-signup > p { 
  margin: 0.6rem 0.4rem;
  font-size: 12px;
}

.sidebar-signup > button { 
  background-color: var(--blue-color);
  color: var(--main-text-color);
  width: 96%;
}

.sidebar-showcase { 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 1rem 0;
}

.sidebar-showcase figure:nth-child(1) img {    
  border-top-left-radius: 10px;  
}

.sidebar-showcase figure:nth-child(3) img {    
  border-top-right-radius: 10px;  
}

.sidebar-showcase figure:nth-child(4) img {    
  border-bottom-left-radius: 10px;
}

.sidebar-showcase figure:nth-child(6) img {    
  border-bottom-right-radius: 10px;  
}

.sidebar-interests { 
  padding: 1rem;
  border: none;
  background-color: var(--pinned-color);
  border-radius: 10px;
  margin-bottom: 1rem;
}

.interests-people { 
  margin: 0.5rem auto;
  border-top: 1px solid var(--light-color);
  border-bottom: 1px solid var(--light-color);
}

.interests-people-item { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
  border-bottom: 1px solid var(--light-color);
  padding-bottom: 0.5rem;
} 

.interests-people-item:nth-child(3) { 
  border: none;
  padding-bottom: 0;
}
 
.interests-people-item > figure { 
  display: flex;
  flex-basis: 50%;
  align-items: center;
}

.interests-people-item > figure > img { 
  border-radius: 50%;
  width: 55px;
}

.interests-people-item > figure > figcaption { 
  margin-left: 0.5rem;
}

.interests-people-item > figure > figcaption > h4 { 
  color: var(--main-text-color);
}

.sidebar-trends { 
  background-color: var(--pinned-color);
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--light-color);
}