* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

:root { 
  --main-color: #161f2b;
  --dark-color: #243340; 
  --light-color: #576469;
  --blue-color: #1da1f2;
  --container-width: 990px;
  --main-text-color: #f4f4f4;
  --pinned-color: #1b2734;
}

html { 
  font-size: 14px;
}

body { 
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--main-color);
  color: var(--light-color);
}

ul { list-style-type: none}
a { text-decoration: none }
li { margin: 0 0.2rem }
i { margin-right: 0.4rem}
strong { color: var(--main-text-color)}

img { 
  display: block; 
  width: 100%;
}

.active { 
  color: var(--blue-color);
  border-bottom: 1.5px solid var(--blue-color);
  margin: 0;
}

.fa-bitcoin { color: orange }

.b-round { 
  border: 1px solid var(--light-color);
  border-radius: 10px;
}

.main-header {
  font-size: 1.2rem;
  color: var(--main-text-color);
}

.link { color: var(--blue-color)}

.my-1 { margin: 1rem 0}
.my-2 { margin: 1.5rem 0}

.horizontal-start { 
  display: flex;
  justify-content: flex-start;
}

.horizontal-center { 
  display: flex;
  justify-content: center;
}

.btn { 
  cursor: pointer;
  border: 1px solid var(--blue-color);
  border-radius: 10px;
  display: inline-block;
  padding: 0.2rem 1.2rem;
  margin: 0.4rem;
  text-align: center;
  vertical-align: center;
  font-weight: 700;
  background-color: var(--main-color);
  color: var(--blue-color);
  transition: transform 0.2s;
}

.btn:hover { 
  transform: scale(1.05);
}